<div>
  <ngx-datatable
    class="material"
    [rows]="rows.data"
    [loadingIndicator]="loadingIndicator"
    [headerHeight]="50"
    columnMode="force"
    [limit]="10"
    [count]="100"
    [footerHeight]="50"
    (page)='setPage($event)'
    [externalPaging]="true"
    rowHeight="auto"
    [reorderable]="true">
      <ngx-datatable-column *ngFor="let item of columns"  [prop]="item" [width]="300">
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
          <strong>{{value}}</strong>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
